<%= form_for([@event, @invite]) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
      <% @invite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :event_id %><br>
  </div>

  <div class="field">
    <%= f.label :guest_id %><br>
    <%= f.select :guest_id, @guests.map{|h| [h.name, h.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
