<p id="notice"><%= notice %></p>

<h1>
  <%= @user.name %>
</h1>

<h3>Hosting:</h3>
<% @user.hosted_events.each do |event| %>
  <p><%= link_to event.name, event %></p>
<% end %>
<h3>Invitations:</h3>
<% @user.invited_events.each do |event| %>
  <p><%= link_to event.name, event %></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
