<h1>Listing events</h1>
<%= link_to "Create New Event", new_event_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Going</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date.to_s(:rfc822) %></td>
        <td><%= event.time.to_s(:human_readable_time) %></td>
        <td><%= event.invites.where(:accepted => true).size %></td>
        <td><%= link_to 'New Invitation', new_event_invite_path(event) %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
